<div class="sidebar">
    <div class="content">
        <img src="./assets/logo.png">
        <div class="menu">
            <div class="button" routerLink=""><mat-icon color="">menu_book</mat-icon><h1>Catalog</h1></div>
            <div class="button"><mat-icon color="">home</mat-icon><h1>Dashboard</h1></div>
            <div class="button" routerLink="basket" matBadge="{{returnbasketLength()}}" *ngIf="returnbasketLength() != '0'"><mat-icon color="">shopping_cart</mat-icon><h1>Basket</h1></div>
            <div class="button" routerLink="basket" *ngIf="returnbasketLength() == '0'"><mat-icon color="">shopping_cart</mat-icon><h1>Basket</h1></div>
            <div class="button"><mat-icon color="">star_border</mat-icon><h1>Favorites</h1></div>
        </div>
    </div>
    <div class="content">
        <div class="line"></div>
        <div class="menu" style="padding:15px">
            <div class="button" style="width:auto; align-self: center;"><mat-icon color="">help_outline</mat-icon></div>
        </div>
    </div>
</div>
