.page{
    width: auto;
    height: calc(100vh - 40px);
    padding: 20px;

    .line {
        width: 100%;

        margin: 20px 0 20px 0;
    
        background-color: rgb(116, 116, 116);
        height: 2px;

        border-radius: 20px;
    }


    .formContainer{
        width: auto;
        height: calc(88vh);
        overflow-y: auto;
        form {
            padding: 0px 20% 0 20%;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}