<div class="container">
  <div class="back-container">
    <button mat-raised-button color="primary" routerLink = "../../basket">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Back to basket
    </button>
  </div>

  <div class="title-container">
    <h1>Request: {{product.name}}</h1>
    <h3>{{product.edition}} Edition</h3>
  </div>


  <form [formGroup] ="nestedForm" (ngSubmit)="send()">
    <div formGroupName = "userForm" class="nested-container">
      <h2>User Data</h2>
      <ng-container *ngFor="let req of reqUserData, let i = index">
        <mat-form-field>
          <mat-label>{{userLabels[i]}}</mat-label>
          <input matInput [formControlName]="reqUserData[i]">
        </mat-form-field>
      </ng-container>
    </div>
    <div formGroupName="productForm">
      <h2>Product Data</h2>
      <ng-container *ngFor="let req of requirements,
      let i = index"> 
        <mat-form-field>
          <mat-label>{{requirementLabels[i]}}</mat-label>
          <input matInput [formControlName]="requirements[i]">
        </mat-form-field>
      </ng-container>
    </div>
    <h2>Business Reason</h2>
    <mat-form-field hintLabel="Min. 50 characters">
      <mat-label>Reason</mat-label>
      <textarea matInput formControlName="reason"></textarea>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="isDisabled()"><mat-icon>send</mat-icon>Send Request</button>
  </form>
</div>

