<div class="main">
    <div class="content">
        <h1>User Data</h1>
        <br>
        <div class="line"></div>
        <br>
        <div class="userData">
            <div class="left">
                <div *ngFor="let item of userData">
                    <h3>{{ item[0] }}:</h3>
                </div>
            </div>
            <div class="right">
                <div *ngFor="let item of userData">
                    <h3>{{ item[1] }}</h3>
                </div>
            </div>
        </div>
        <br>
        <h1>Product Data</h1>
        <br>
        <div class="line"></div>
        <br>
        <div class="productData">
            <div class="left">
                <h3>Product Name:</h3>
                <h3>Internal ID:</h3>
                <h3>External ID:</h3>
            </div>
            <div class="right" style="display: flex; gap: 50px; width: 100%; overflow-x: auto;">
                <div *ngFor="let i of data[1]">
                    <h3>{{i.productName}}</h3>
                    <h3>{{i.internalID}}</h3>
                    <h3>{{i.externalID}}</h3>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>