<div  class="main">
    <div class="left">
        <h1>Catalog</h1>
    </div>
    <div class="mid">
        <div class="searchbar"></div>
    </div>
    <div class="right">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>person</mat-icon>
        </button>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>filter_list</mat-icon>
          </button>
    </div>
</div>