.main {
    width: auto;
    height:auto;

    border-bottom: 2px solid  rgb(116, 116, 116);
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .accountWindow {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(26, 26, 26, 0.637);
        z-index: 2;

        animation: fadeIn 0.1s ease-in;

        .card {
            width:auto;
            height: auto;
            background: rgb(43,43,43);
            background: radial-gradient(circle, rgba(43,43,43,1) 0%, rgba(0,0,0,1) 100%);
            -webkit-box-shadow: 0px 0px 26px 1px #000000; 
            box-shadow: 0px 0px 26px 1px #000000;
            border: 1px solid #48485f;
            border-radius: 20px;
            padding: 20px;

            display: flex;
            flex-direction: column;

            animation: fadeIn 0.3s ease-in;

            .line {
                width: 100%;
            
                background-color: rgb(116, 116, 116);
                height: 2px;
        
                border-radius: 20px;
            }

            .header {
                h1 {
                    color: white;
                    margin:0;
                }

                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .bottom {
                display: flex;
                gap:10px;
                height: 300px;
                img {
                    width: auto;
                    height: 100%;
                }
                .text {
                    h2 {
                        color:white;
                        margin: 0;
                    }

                    width: auto;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .footer {
                        width: auto;
                        display: flex;
                        justify-content: flex-end;
                    }
                    
                }
            }
        }
    }

    .left {
        h1 {
            color:white;
            margin:0;
        }
    }

    .mid {
        .searchbar {
            input {
                width: 30vw;
                padding: 10px;
                border-radius: 10px;
                border: none;
                outline: none;
                height: 35px;
                font-size: 25px;
            }
        }
    }

    .right {
        .button-with-image {
            position: relative;
          }
          
        .button-icon {
          position: absolute;
          left: 8px; /* Passen Sie den Abstand nach Bedarf an */
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
        }
        
        .button-image {
          position: relative;
          z-index: 0;
        }
        display: flex;
        gap: 10px;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }