.main {

    padding: 20px 20px 0px 20px;
    height: calc(100vh - 170px);
    width: auto;


    .CatalogContainer {
        justify-content: center;
        align-items: center;
        width:auto;
        display: flex;
        gap: 70px;
        flex-wrap: wrap;
        transition: flex-wrap 0.4s linear;
        height: 100%;
        overflow: auto;
        padding: 20px;
        margin: 5px;
    }

    ::-webkit-scrollbar {
        width: 10px; /* Breite der Scrollbar */
    }
    
    ::-webkit-scrollbar-track {
      background-color: #ede3ff; /* Hintergrundfarbe des Scrollbar-Tracks */
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #673AB7; /* Farbe des Scrollbar-Thumb */
      
      &:hover {
        background-color: #555; /* Farbe des Scrollbar-Thumb bei Hover */
      }
    }
    
}