.CatalogContainer {
    justify-content: center;
    align-items: center;
    width:auto;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    transition: flex-wrap 0.4s linear;
    margin:10px;
}